/* @tailwind directives removed. Make sure Tailwind is set up if you want to use them. */
@import "tailwindcss";

.message {
  border: 2px solid #ccc;
  background-color: antiquewhite;
  padding: 10px;
}

.users {
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 10px;
}
