@import "tailwindcss";

.message {
  border: 2px solid #ccc;
  background-color: antiquewhite;
  padding: 10px;
}

.users {
  border: 2px solid #ccc;
  background-color: antiquewhite;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
